#title {
    color: deeppink;
    text-transform: uppercase;
    font-weight: bolder;
}

.recipe-name{
    color: #afcfee ;
    text-transform: uppercase;
    font-weight: bolder;
}

img{
    height: auto;
    width: 650px;
}
